* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}

h1{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);

}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}
.navbar div{
  display: flex;
  align-items: center;
  gap: 30px;
}