* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:helvetica;
}
html,
body {
    height: 100%;
    width: 100%;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 30px;
  
}